@import url('https://fonts.googleapis.com/css2?family=Joan&family=Nuosu+SIL&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  .home-page-container1{
    margin-top: 400px;
    display: flex;
    background: #f9f9f9;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid red; */
  }
  .home-page-sub1-container1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 2px solid green; */
  }
  .home-page-sub-container1-title{
    /* border: 2px solid blue; */
    font-size: 36px;
    width: 300px;
    margin-bottom: 40px;
    /* color: #fff; */
  }
  .home-page-sub-container1-para{
    /* border: 2px solid orange; */
    width: 400px;
    line-height: 1.3;
    word-spacing: 1.5px;
    margin-bottom: 40px;
    /* color: #fff; */
  }

  .home-page-sub-container1-button{
    /* border: 2px solid blue; */
  }



  .home-page-sub2-container1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 2px solid green; */
  }


  @media (max-width:1000px){
    .home-page-container1{
        justify-content: center;
    }
    .home-page-sub1-container1{
        margin-top: 0;
        justify-content: center;
        height: 500px;
    }
    .home-page-sub-container1-title{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .home-page-sub-container1-para{
        text-align: center;
    }
    .home-page-sub-container1-button{
        margin-left: auto;
        margin-right: auto;
    }
  }

  @media(max-width:500px){
    .home-page-sub-container1-para{
        width: 300px;
    }
    .home-page-container1{
       width: 100%;
       justify-content: center;
    }
  }